[submodule "secrets"]
	path = secrets
	url = https://github.com/mephistolie/chefbook-backend-secrets.git
[submodule "common-lib"]
	path = common-lib
	url = https://github.com/mephistolie/chefbook-backend-common.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/mephistolie/chefbook-backend-api-gateway.git
[submodule "services/shopping-list"]
	path = services/shopping-list
	url = https://github.com/mephistolie/chefbook-backend-shopping-list.git
[submodule "services/auth"]
	path = services/auth
	url = https://github.com/mephistolie/chefbook-backend-auth.git
[submodule "services/template"]
	path = services/template
	url = https://github.com/mephistolie/chefbook-backend-service-template.git
[submodule "services/user"]
	path = services/user
	url = https://github.com/mephistolie/chefbook-backend-user.git
[submodule "services/profile"]
	path = services/profile
	url = https://github.com/mephistolie/chefbook-backend-profile.git
[submodule "services/tag"]
	path = services/tag
	url = https://github.com/mephistolie/chefbook-backend-tag.git
[submodule "services/recipe"]
	path = services/recipe
	url = https://github.com/mephistolie/chefbook-backend-recipe.git
[submodule "services/encryption"]
	path = services/encryption
	url = https://github.com/mephistolie/chefbook-backend-encryption.git
[submodule "services/broccoins"]
	path = services/broccoins
	url = https://github.com/mephistolie/chefbook-backend-broccoins.git
